#mapContainer {
	height: 100%;
	width: 400px;
}


.mirrored {
height: 100%;
width: 400px;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
transform: scale(-1, 1);
text-align: right;
}

#locations {
	text-align: center;
}

#buttons {
	text-align: center;
}