body {
	background-image: url('../img/background.jpg');
	background-attachment: fixed;
}
	#mapContainer {
		height: 300px;
		width: 80%;
		border: 2px solid black;
		margin-right: auto;
		margin-left: auto;
	}


	.mirrored {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
	}

	

	.mirroredDirections {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
	text-align: right;
	}


	#locations {
		text-align: center;
		color: black;
	}

	#buttons {
		text-align: center;
	}

	button {
		border-radius: 20%;
		color: black;
		background-image: url('../img/mustard.jpg	');
		background-size: contain;
		height: 50px;
		width: 100px; 
	}

	#directions {
		background-color: white;
	}

	p {
		color: white;
	}

	